
@define-color foreground #100F0F;
@define-color background #E1E2E7;
window#waybar {
  background-color: @background;
  color: @foreground;
  min-height: 0;
  font-family: Perun, Adwaita Sans, Symbols Nerd Font Mono;
font-weight: 400;  
font-size: 14px;
}


.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @foreground
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-screenrecording-indicator,

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

